.CardNotifi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    border-bottom: 1px solid #fafafa;
    font-size: 12.5px;
}
.CardNotifi:hover{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    border-bottom: 1px solid #fafafa;
    font-size: 12.5px;
    background-color: rgb(247, 247, 247);
}
.CardNotifi__info{
    display: flex;
}
.CardNotifi__details{
    flex: 1;
    padding-right: 10px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
}
.CardNotifi__details > p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
.CardNotifi__image{
    margin-right: px;
    align-self: center;
}