.menuNav{
    background: linear-gradient(45deg, #6bd4fe 30%, #88fcfc 90%);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid lightgray;
}
.menuNav__item {
    font-size: 15px;
    text-transform: uppercase;
    color:  white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.menuNav__item:hover{
    cursor: pointer;
}
.menuNav__item1 {
    font-size: 15px;
    text-transform: uppercase;
    color:  white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.menuNav__item1:hover{
    cursor: pointer;
}
.animation{
    position: absolute;
    z-index: 0;
    height: 5%;
    bottom: 0;
    background:  white;
    transition: all 0.5s ease;
}


.menuNav__item:nth-child(1){
    width: 100px;
}
.menuNav__item:nth-child(1):hover~.animation{
    width: 85px;
    left: 23px;
}

.menuNav__item:nth-child(2){
    width: 100px;
}
.menuNav__item:nth-child(2):hover~.animation{
    width: 85px;
    left: 116px;
}
.menuNav__item:nth-child(3){
    width: 100px;
}
.menuNav__item:nth-child(3):hover~.animation{
    width: 85px;
    left: 212px;
}
.menuNav__item1:nth-child(1){
    width: 140px;
}
.menuNav__item1:nth-child(1):hover~.animation{
    width: 100px;
    left: 39px;
}
.menuNav__item1:nth-child(2){
    width: 140px;
}
.menuNav__item1:nth-child(2):hover~.animation{
    width: 100px;
    left: 180px;
}