.bt__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.bt{
    position: relative;
    padding: 20px;
    width: 28vw;
    height: 65vh;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    background: linear-gradient(45deg, #6bd4fe 30%, #9fffff 90%);
    cursor: pointer;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: auto;

}
.bt div {
    margin: auto;
}
.bt:hover{
    background: linear-gradient(45deg, #94e1ff 30%, #9fffff 90%);
}
.bt:active{
    background: linear-gradient(45deg, #6bd4fe 30%, #9fffff 90%);
}