.swipe{
    position: absolute;
}

.info{
    position: absolute;
    bottom: 10px;
    color: white;
}
.card{
    position: relative;
    padding: 20px;
    width: 28vw;
    height: 65vh;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.1);
}
.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
@media screen and (max-width: 960px) {
    .card{
        position: relative;
        width: 600px;
        padding: 20px;
        max-width: 95vw;
        height: 70vh;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.1);
    }
    
    .tinderCards__cardContainer{
        display: flex;
        justify-content: center;
        margin-top: 5vh;
    }
}