.chatScreen{
}
.chatScreen__message{
    width: 50vw - 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    max-width: 50vw;
}
.chatScreen__text{
    max-width: 40vw;
    margin-left: 10px;
    background-color: rgb(224, 222, 222);
    padding: 10px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    word-wrap: break-word;
}
.chatScreen__textUser{
    margin-left: auto;
    max-width: 40vw;
    background: linear-gradient(45deg, #6bd4fe 30%, #88fcfc 90%);
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    word-wrap: break-word;
}
.chatScreen__input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid lightgray;
    width: 50%;
    background-color: rgb(245, 247, 250);
}
.chatScreen__inputField{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    background-color: rgb(245, 247, 250);
}
.chatScreen__inputButton{
    border: none;
    margin-right: 20px;
    background-color: rgb(245, 247, 250);
    color: #6bd4fe;
    outline: none;
}
.chatScreen__inputButton:hover{
    color: #88fcfc;
    cursor: pointer;
}
.chatScreen__inputButton:active{
    color: #88fcfc;
}
.navbarChat{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid lightgray;
}
.name{
    display: block;
    text-align: center;
    color: rgb(150, 150, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}
.name > h2{
    color: #6bd4fe;;
}
.back{
    color: #6bd4fe !important;
}
.infor{
    color: #6bd4fe !important;
}