form(method="post" action="/save")
    table 
        tr
            td Name 
            td 
                input(type="text" name="name")
        tr 
            td Age 
            td 
                input(type="text" name="age")
        tr 
            td Sex 
            td 
                input(type="text" name="sex")
        tr 
            td Description 
            td 
                input(type="text" name="description")
        tr
            td Partner_sexual_type 
            td 
                input(type="text" name="partner_sexual_type")
        tr 
            td
            td
                input(type="submit" value="Save")

